.contactos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    margin-top: 80px;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 0;
    padding: 20px;
    background-color: #ededed;
    border-radius: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.redes a{
    min-height: 40px;
    display: inline-block;
    width: 50px;
}

